name: Build and Push Postgres Images

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write

jobs:
  pre-job:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      should_run: ${{ steps.check.outputs.should_run }}
    steps:
      - name: Check what should run
        id: check
        uses: immich-app/devtools/actions/pre-job@eed0f8b8165ffcb951f2ba854b2dd031935e1d73 # pre-job-action-v2.0.2
        with:
          github-token: ${{ github.token }}
          filters: |
            postgres:
              - 'postgres/**'
          force-filters: |
            - '.github/workflows/build-postgres.yml'

  matrix:
    runs-on: ubuntu-latest
    needs: pre-job
    if: ${{ fromJSON(needs.pre-job.outputs.should_run).postgres == true }}
    permissions:
        contents: read
    outputs:
        matrix: ${{ steps.get-versions.outputs.result }}
    steps:
        - name: Checkout to repository
          uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

        - id: get-versions
          name: Get dependency versions
          uses: mikefarah/yq@2be0094729a1006f61e8339ce9934bfb3cbb549f # v4.52.2
          with:
            cmd: yq eval -o=json -I=0 postgres/versions.yaml

  build_and_push:
    runs-on: ubuntu-latest
    needs: [pre-job, matrix]
    if: ${{ fromJSON(needs.pre-job.outputs.should_run).postgres == true }}
    strategy:
      # Prevent a failure in one image from stopping the other builds
      fail-fast: false
      matrix: ${{ fromJson(needs.matrix.outputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        if: ${{ !github.event.pull_request.head.repo.fork }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Determine version change
        id: changed-version
        env:
          BASE: ${{ github.event_name == 'pull_request' && format('origin/{0}', github.base_ref) || 'HEAD~1' }}
        run: |
          CHANGED_FILES=$(git diff --name-only $BASE...HEAD)
          echo $CHANGED_FILES
          if echo "$CHANGED_FILES" | grep -q -e "^postgres/" -e "^.github/workflows/build-postgres.yml$"; then
            echo "any_changed=true" >> $GITHUB_OUTPUT
          else
            echo "any_changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Determine image push
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: should-release
        with:
          script: |
            if (context.eventName == "pull_request") return false;
            if (context.eventName == "workflow_dispatch") return true;
            return "${{ steps.changed-version.outputs.any_changed }}" == "true";

      - name: Determine latest version of VectorChord in matrix
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: latest-vchord
        env:
          VERSION_MATRIX: ${{ needs.matrix.outputs.matrix }}
        with:
          script: |
            const versions = JSON.parse(process.env.VERSION_MATRIX).vectorchord;
            const latest = versions.sort()[versions.length - 1];
            console.log(`Latest VectorChord version: ${latest}`);
            return latest;

      - name: Determine latest version of pgvector in matrix
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: latest-pgvector
        env:
          VERSION_MATRIX: ${{ needs.matrix.outputs.matrix }}
        with:
          script: |
            const versions = JSON.parse(process.env.VERSION_MATRIX).pgvector;
            const latest = versions.sort()[versions.length - 1];
            console.log(`Latest pgvector version: ${latest}`);
            return latest;

      - name: Generate docker image tags
        id: metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          flavor: |
            # Disable latest tag
            latest=false
          images: |
            name=ghcr.io/${{ github.repository_owner }}/postgres
          tags: |
            type=raw,value=${{ matrix.pg }}-vectorchord${{ matrix.vectorchord }}-pgvector${{ matrix.pgvector }}-pgvectors${{ matrix.pgvectors }},enable=${{ matrix.pgvectors != '' }}
            type=raw,value=${{ matrix.pg }}-vectorchord${{ matrix.vectorchord }}-pgvectors${{ matrix.pgvectors }},enable=${{matrix.pgvectors != '' && matrix.pgvector == fromJson(steps.latest-pgvector.outputs.result) }}
            type=raw,value=${{ matrix.pg }}-vectorchord${{ matrix.vectorchord }}-pgvector${{ matrix.pgvector }},enable=${{ matrix.pgvectors == '' }}
            type=raw,value=${{ matrix.pg }}-vectorchord${{ matrix.vectorchord }},enable=${{ matrix.pgvectors == '' && matrix.pgvector == fromJson(steps.latest-pgvector.outputs.result) }}

      - name: Build and push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: postgres/
          platforms: linux/amd64,linux/arm64
          push: ${{ steps.should-release.outputs.result }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          build-args: |
            PG_MAJOR=${{ matrix.pg }}
            VECTORCHORD_TAG=${{ matrix.vectorchord }}
            PGVECTORS_TAG=${{ matrix.pgvectors }}
            PGVECTOR_TAG=${{ matrix.pgvector }}

  results:
      if: ${{ always() }}
      runs-on: ubuntu-latest
      name: Postgres build success
      needs: [build_and_push]
      steps:
        - run: |
            result="${{ needs.build_and_push.result }}"
            if [[ $result == "success" || $result == "skipped" ]]; then
              exit 0
            else
              exit 1
            fi
