name: Build and Push Server Base Images

on:
  push:
    tags:
      - "*"
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write

jobs:
  pre-job:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      should_run: ${{ steps.check.outputs.should_run }}
    steps:
      - name: Check what should run
        id: check
        uses: immich-app/devtools/actions/pre-job@4effdb9faa3c120fa03f487f0a476d55fc4cd9f2 # pre-job-action-v2.0.1
        with:
          github-token: ${{ github.token }}
          filters: |
            server:
              - 'server/**'
          force-filters: |
            - '.github/workflows/build-server-base.yml'
          force: ${{ startsWith(github.ref, 'refs/tags') || github.ref_name == 'main' }}

  build_and_push:
    needs: pre-job
    uses: immich-app/devtools/.github/workflows/multi-runner-build.yml@fe13f89d76bce06e0f40ec521b074f77bcf05d12 # multi-runner-build-workflow-2.2.0
    if: ${{ fromJSON(needs.pre-job.outputs.should_run).server == true }}
    strategy:
      fail-fast: true
      matrix:
        target: ["dev", "prod"]
    permissions:
      contents: read
      actions: read
      packages: write
    with:
      image: base-server-${{ matrix.target }}
      context: server
      dockerfile: server/Dockerfile
      target: ${{ matrix.target }}
      release-tag-type: git-tag

  success-check:
    needs: build_and_push
    permissions: {}
    runs-on: ubuntu-latest
    if: always()
    steps:
      - uses: immich-app/devtools/actions/success-check@68f10eb389bb02a3cf9d1156111964c549eb421b # 0.0.4
        with:
          needs: ${{ toJSON(needs) }}
