name: Git tag

on:
  workflow_dispatch:
  schedule:
    - cron: "0 11 * * 2"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  set_tag:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v2.1.1
        with:
          app-id: ${{ secrets.PUSH_O_MATIC_APP_ID }}
          private-key: ${{ secrets.PUSH_O_MATIC_APP_KEY }}

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: "main"
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}

      - name: Create and push new tag
        run: |
          tag=$(date +'%Y%m%d%H%M')
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'github-actions@users.noreply.github.com'

          if [ git tag -l $tag ]; then
            echo "Tag $tag already exists."
            exit 1
          else
            git tag $tag
            git push origin $tag
          fi
